{erl_opts, [{i, "./_build/default/plugins/gpb/include"}]}.
{deps, [gun]}.


{gpb_opts, [
    {recursive, false},
    {i, "priv/protos"},
    {ipath, "_build/default/plugins/gpb/priv/proto3/"},
    use_packages,
    {module_name_suffix, "_pb"},
    {o_erl, "src/protos"},
    {o_hrl, "include"},
    {strings_as_binaries, true},
    type_specs]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{plugins, [
    {rebar3_gpb_plugin, "2.4.1"},
    {rebar3_eetcd_plugin, "0.1.3"}
]}.
