{erl_opts, [{i, "./_build/default/plugins/gpb/include"}]}.
{deps, [
    {gun, "2.1.0"}
]}.

{gpb_opts, [
    {recursive, false},
    {i, "priv/protos"},
    {ipath, "_build/default/plugins/gpb/priv/proto3/"},
    use_packages,
    {module_name_suffix, "_pb"},
    {o_erl, "src/protos"},
    {o_hrl, "include"},
    {strings_as_binaries, true},
    maps,
    {maps_unset_optional, omitted},
    type_specs]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{plugins, [
    {rebar3_gpb_plugin, "2.23.2"},
    % {rebar3_eetcd_plugin, "0.3.2"}
    {rebar3_eetcd_plugin, {git, "https://github.com/belltoy/rebar3_eetcd_plugin.git", {branch, "feature/refactor"}}}
]}.

{project_plugins, [
    {gradualizer, {git, "https://github.com/josefs/Gradualizer.git", {branch, "master"}}}
]}.

{dialyzer, [
    {plt_extra_apps, [ssl, public_key]}
]}.

{gradualizer_opts, [
    {include, ["include"]},

    %% Use exclude_modules instead of exclude, See:
    %% https://github.com/josefs/Gradualizer/issues/483
    {exclude_modules, [
    ]},
    {color, always}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    warnings_as_errors,
    deprecated_functions
]}.

{xref_ignores, [
    auth_pb,
    gogo_pb,
    health_pb,
    kv_pb,
    router_pb
]}.
