{erl_opts, [{i, "./_build/default/plugins/gpb/include"}]}.
{deps, [
    {gun, "1.3.3"}
]}.

{gpb_opts, [
    {recursive, false},
    {i, "priv/protos"},
    {ipath, "_build/default/plugins/gpb/priv/proto3/"},
    use_packages,
    {module_name_suffix, "_pb"},
    {o_erl, "src/protos"},
    {o_hrl, "include"},
    {strings_as_binaries, true},
    maps,
    {maps_unset_optional, omitted},
    type_specs]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{plugins, [
    {rebar3_gpb_plugin, "2.13.1"},
    {rebar3_eetcd_plugin, "0.3.2"}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    warnings_as_errors,
    deprecated_functions
]}.

{xref_ignores, [
    auth_pb,
    gogo_pb,
    kv_pb,
    router_pb
]}.
